.left-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.right-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-component.winter i {
  color: blue;
}

.season-component.summer i {
  color: red;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}
